.about {
    background: linear-gradient(135deg, #e6eef6, #e3e9f0);
    padding: 4rem 2rem;
    color: #333;
    height: 510px;
  }
  
  .about-container {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
  }
  
  .about-title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    color: #1e1e1e;
  }
  
  .about-text {
    font-size: 1.05rem;
    line-height: 1.8;
    margin-bottom: 1.5rem;
    color: #555;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .about-title {
      font-size: 2rem;
    }
  
    .about-text {
      font-size: 1rem;
      line-height: 1.6;
    }
  }
  
  /* footer css */

  .footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px 10px;
    margin-top: 50px;
  }

