.all-users-wrapper {
  padding: 40px 20px;
  background-color: #f1f3f9;
  min-height: 100vh;
}

.header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.header-actions h2 {
  font-size: 45px;
  margin-left: 35%;
  font-weight: bold;
  color: #2c3e50;
}

.header-tools {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.header-tools input {
  padding: 10px 14px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.header-tools button {
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}

.card-table-header {
  display: grid;
  grid-template-columns: 1fr 1.2fr 2fr 1.2fr 1.4fr 1.2fr 1fr 1fr;
  background: #e9ecef;
  padding: 12px 20px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 14px;
  color: #495057;
  margin-bottom: 10px;
}

.user-cards-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.user-card-row {
  display: grid;
  grid-template-columns: 1fr 1.2fr 2fr 1.2fr 1.4fr 1.2fr 1fr 1fr;
  align-items: center;
  padding: 14px 20px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.05);
  font-size: 14px;
  color: #343a40;
}

.action-column {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.delete-btn.delete {
  color: #721c24;
}

.action-btn.delete:hover {
  background-color: #dc3545; /* Red */
  color: white;
}

.action-btn {
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  background-color: #f1f3f5;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s;
}

.pagination-controls {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 300px;
  font-weight: 600;
}

.pagination-controls button {
  padding: 8px 14px;
  border: none;
  background-color: #294c71;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  width: 25%;
}


.pagination-controls button:disabled {
  background-color: #b0c4de;
  cursor: not-allowed;
}
