.footer {
  background-color: #212529; /* Bootstrap dark */
  color: #f8f9fa;
  text-align: center;
  margin-top: 0px;
  height: 120px;
}

.footer a {
  color: #f8f9fa;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #ffc107; /* Yellow hover color */
}
