/* .content-container {
    margin-top: 70px; 
  }
  
     Ensure navbar links stack vertically in mobile 
    .navbar-nav {
      text-align: center;
    }
  
    .navbar-nav .nav-item {
      margin-bottom: 10px; 
    }
  
  
 *
 html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
*/
 
